[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfiglet = "*"

[dev-packages]
doit = "*"
black = "*"
babel = "*"
coverage = "*"
wheel = "*"
setuptools = "*"
build = "*"

[requires]
python_version = "3.10"
